<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>

<style>
    body {
      background-color: black;
      color: green;
    }

    header, main, footer {
      padding: 20px;
    }

    .form-group {
      margin-bottom: 20px; /* Add margin between form groups */
    }

    input[type="password"],
    input[type="submit"] {
      border: 1px solid #ccc; /* Add a border to input elements */
      border-radius: 4px; /* Add border-radius for a rounded appearance */
    }
    input[type="password"] {
      width: calc(100% - 16px);
      padding: 8px;
      box-sizing: border-box;
    }
  
    input[type="submit"] {
      width: 100%;
      padding: 10px;
      background-color: #4CAF50; /* Green background color for submit button */
      color: #fff; /* White text color for submit button */
      cursor: pointer;
    }
  
    a{
      color: #4CAF50; /* Green color for links */
    }
</style>


<main>
    <h1>User Account</h1>
        <section>
            <div class="card">
                <p>Welcome, <%= user.username %>!</p>
            </div>
        
            <div class="card">
                <h2>Portfolio</h2>
                <p>Account Balance: $ <%= accountBalance %></p>
            </div>
            <div class="container">
                <form action="/change_password" method="POST">
            
                    <div class="form-group">
                        <label style="font-size:20px; text-align:center; margin-bottom:20px; color: green; text-transform: uppercase; letter-spacing: 2px;">Change Password</label>
                    </div>
                
                    <div class="form-group">
                        <label for="password">New Password</label>
                        <input type="password" id="password" name="password" style="width: calc(100% - 16px); padding: 8px; box-sizing: border-box; margin-bottom: 25px;" />
                    </div>
                    
                    <div class="form-group">
                        <input type="submit" value="Change Password" />
                    </div>
                </form>
            </div>            
                    
        </section>
</main>

<%- include ('../partials/footer') %>