<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>

<main>
    <h1>User Account</h1>
        <section>
            <div class="card">
                <p>Welcome, <%= user.username %>!</p>
            </div>
        
            <div class="card">
                <h2>Portfolio</h2>
                <p>Account Balance: $0 <%= accountBalance %></p>
            </div>
    
        </section>
</main>

<%- include ('../partials/footer') %>