<!-- views/stock.ejs -->

<h1>Stock Quote for  <%= stockSymbol %></h1>

<ul>
  <li><strong>Current Price:</strong> <%= stockQuoteData.currentPrice %></li>
  <li><strong>High Price:</strong> <%= stockQuoteData.highPrice %></li>
  <li><strong>Low Price:</strong> <%= stockQuoteData.lowPrice %></li>
  <li><strong>Open Price:</strong> <%= stockQuoteData.openPrice %></li>
  <li><strong>Previous Close:</strong> <%= stockQuoteData.previousClose %></li>
</ul>
